<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeSquare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class='container mx-auto p-4' id="welcome">
        <form method="post">
            {% csrf_token %}
            <div class="mb-2">
                <span style="font-family: serif; font-size: 35px; color: brown;">Welcome to the</span>
                <span
                    style="font-family: serif; font-size: 45px; color: coral; text-shadow: 0 0 #1d5fc1;">TradeSquare</span>
            </div>

            <div class="row align-items-center">
                <a class="col text-center" style="font-size: xx-large;
                font-weight: 400;
                font-family: serif;
                color: brown;
                background-color: bisque;
                cursor: pointer;" href="{% url 'add_product_for_bid' %}">
                    Post Deal
                </a>
                <a class="col text-center ml-md-5" style="font-size: xx-large;
                font-weight: 400;
                font-family: serif;
                color: brown;
                background-color: bisque;
                cursor: pointer;" href="{% url 'show_all_products' %}">
                    View Store
                </a>
            </div>
        </form>
    </div>
</body>

</html>