<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeSquare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class='container mx-auto p-4' id="welcome">
        <form method="post">
            {% csrf_token %}

            <h2 style="font-family: serif;">Your Wishlist</h2>

            {% if messages %}
            <ul class="messages msg">
                {% for message in messages %}
                <h4{% if message.tags %}
                    class="{{ message.tags }} {% if message.tags == 'success' %} shadow-lg {% endif %}" style="font-family: serif; font-size: 20px; float: inline-end;
                        {% if message.tags == 'info' %}
                        color: white;
                        background-color: red;
                        padding: 4px;
                        border-radius: 1rem;
                        {% else %}
                            color: green;
                        {% endif %}" {% endif %}>{{ message }}</h4>

                    {% endfor %}
            </ul>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in html_object %}
                    <tr>
                        <td style="font-family: serif;font-size: 20px;">{{ product.name }}</td>
                        <td style="font-family: serif;font-size: 20px;">{{ product.desc }}</td>
                        <td><img src="{{ product.image.url }}" alt="{{ product.name }}"
                                style="width: 100px; height: 50px;"></td>
                        <td>
                            <input type="hidden" name="product_id" id="product_id" value="{{ product.id }}">
                            <button type="submit" class="btn btn-outline-danger">Remove</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No products found for this owner.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</body>
<style>
    @keyframes slideOut {
        0% {
            transform: translateX(0);
            opacity: 1;
        }

        100% {
            transform: translateX(100%);
            opacity: 0;
        }
    }

    .msg.hide {
        animation: slideOut 1s forwards;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            document.querySelector('.msg').classList.add("hide");
        }, 2000);
    });
</script>

</html>